<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/ap.png" alt="" width="40" height="25" class="d-inline-block align-text-top">
            <span class="ms-3 mb-2 brandName">Ace Pet</span>
          </a>      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#navbar">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#overview">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Clients</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi-brightness-high"></i></a>
                  </li>
            </ul>
        </div>
      </div>
    </div>
  </nav>