<div id="acePage">
  <app-navbar></app-navbar>
  <section id="banner" class="container-fluid p-0">
    <img src="../assets/boxbanner.jpg" alt="" class="img-responsive" style="width:100%">
  </section>
  <section id="overview" class="container w-50">
    <h2 class="overviewTitle my-5 text-center">Overview</h2>
    <p>ACE PET, SINCE 2018</p>
    <hr>
    <p>
      We give best machines and great service that, together, convey premium worth to our clients. We are specialist manufacturers of Semi-Automatic PET Blowing Machines and its equipment. we are focused on quality and service to our clients. All machines are thoroughly tried to endure the afflictions of nonstop creation. All through the development of each machine quality checks are made to guarantee the dependability of our items.
    </p>
    <p class="mb-5">
      We likewise work in giving PET blow molds and other associated extras required. We support our clients in accomplishing their task objectives. We guarantee that individuals working at clients place are exceptional to work and deal with the machine after our establishment.
    </p>
  </section>
  <section id="offer" class="container w-50">
    <h2 class="offerTitle my-5 text-center">What We Offer ?</h2>
    <hr>
    <p class="text-end">
      We are leading manufacturers in pet blowing machines which are broadly utilized in different enterprises for assembling and manufacturing pet bottles, pet jars, plastic jars, plastic jars, mineral water bottles, mineral water jars. We provide all the equipment and installation to our client. Our machines are known for superior execution, low support and smooth activity.
    </p>
  </section>
  <section id="offer" class="container w-75 my-5">
    <div class="row text-center">
      <div class="col-sm-6 my-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-4">Machine Specificaion: </h5>
            <span class="card-text">Semi Automatic Pet Blowing Machine:</span>
            <p>
              For Jar Cum Bottle up to 2Ltr with conveyor 
            </p>
            <a href="#" class="btn my-1 btn-primary">Show More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 my-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-4">Machine Specificaion:</h5>
            <span class="card-text">Semi Automatic Pet Blowing Machine:</span>
            <p>
              For Jar Cum Bottle up to 5Ltr with conveyor 
            </p>
            <a href="#" class="btn my-1 btn-primary">Show More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section id="testimonial">
    <h2 class="testimonialTitle my-5 text-center">Testimonials</h2>
  </section> -->


  
  <!-- <section id="gallery">
    <h2 class="galleryTitle my-5 text-center">Testimonials</h2>
  </section> -->

  <section id="contact" >
    <h2 class="testimonialTitle my-5 text-center">Contact Us</h2>

   <div class="w-50 ms-3 border mb-2">
    <div class="mapouter w-100"><div class="gmap_canvas w-100"><iframe class="w-100" width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=miraroad%20dachkulpada&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">google map in website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
   </div>
  </section>
</div>